


body {background-color: #F2EFEA;}

hr {border-style: none; border-top: dotted #C9D8B6 10px; height: 1px; width: 45%}

h1{color: #515E63;}
h3 {color: #515E63;}
p {color:#515E63;}
ul {color:#515E63;}
